
:root {
    --primary-color: #3498DB;   
    --secondary-color: #9B59B6; 
    --accent-color: #1ABC9C;    
    --background-color: #ECF0F1;
    --text-color: #000000;      
    --white: #FFFFFF;           
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    color: var(--primary-color);
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 2em;
    padding: 1em;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

@media (max-width: 600px) {
    section {
        margin: 1em;
        padding: 1em;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.5em 0;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}
